<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GestSoft.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <connectionStrings>
        <add name="GestSoft.Properties.Settings.I__LICENTA_GESTSOFT_DB_SOFTGEST_MDFConnectionString"
            connectionString="Data Source=DESKTOP-1FGKC14\SQLSERVER;Initial Catalog=I:\LICENTA\GESTSOFT\DB\SOFTGEST.MDF;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="GestSoft.Properties.Settings.FillListaFirme" connectionString="Data Source=DESKTOP-1FGKC14\SQLSERVER;Initial Catalog=I:\LICENTA\GESTSOFT\DB\SOFTGEST.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="GestSoft.Properties.Settings.SoftGestConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SoftGest.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SoftManager.Properties.Settings.I__LICENTA_GESTSOFT_DB_SOFTGEST_MDFConnectionString"
            connectionString="Data Source=DESKTOP-1FGKC14\SQLSERVER;Initial Catalog=I:\LICENTA\GESTSOFT\DB\SOFTGEST.MDF;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SoftManager.Properties.Settings.FillListaFirme" connectionString="Data Source=DESKTOP-1FGKC14\SQLSERVER;Initial Catalog=I:\LICENTA\GESTSOFT\DB\SOFTGEST.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SoftManager.Properties.Settings.SoftGestConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\SoftGest.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="SoftManager.Properties.Settings.SoftManagerConexiuneFinala"
            connectionString="Data Source=DESKTOP-1FGKC14\SQLSERVER;Initial Catalog=SoftManager;Persist Security Info=True;User ID=sa;Password=wise2016"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
  
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
  
    <userSettings>
        <SoftManager.Properties.Settings>
            <setting name="utilizator_Logat" serializeAs="String">
                <value />
            </setting>
        </SoftManager.Properties.Settings>
        <GestSoft.Properties.Settings>
            <setting name="utilizator_Logat" serializeAs="String">
                <value/>
            </setting>
        </GestSoft.Properties.Settings>
    </userSettings>
</configuration>
